.related_item_areaa {
    border-bottom: 1px solid $brand_color;
    border-top: 1px solid $brand_color;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    // border: 2px solid red;
    .social_work_image_carda {
        // border: 1px solid red;
        display: flex;
        width: 100%;
        gap: 20px;
        height: 120px;
        overflow: hidden;

        .item_area_image_div {
            width: 50%;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                transition-duration: .4s;
            }

        }

        .overlay-areaa {
            width: 50%;

            .overlay-area_contenta {
                .image_titlea {
                    border: $border;

                    .title_texta {
                        border: $border;
                        font-family: $font_bangla;
                        font-size: 18px;
                        // font-weight: bold;
                        color: $brand_color;
                    }
                }
            }
        }

        &:hover {
            .overlay-areaa {
                .overlay-area_contenta {
                    .image_titlea {
                        .title_texta {
                            // border: $border;
                            // font-family: $font_bangla;
                            font-size: 18px;
                            color: black;
                        }
                    }
                }
            }

            img {
                scale: 1.1;
            }
        }
    }
}


// categories area start for custom
.new_categories_item_all {
    border: $border;
    margin-top: 15px;

    ul {
        border: $border;
        // gap: 5px;

        li {
            list-style: disc;
            border: $border;
            margin-left: 20px;

            .new_categories_name {
                border: $border;
                font-family: $font_bangla;
                font-size: 15px;
                // font-weight: bold;
                // color: $white;
                color: $brand_color;
                transition-duration: 0.4s;
                padding: 5px 0px;
                // border: 1px solid $brand_color;
                // background-color: $brand_color;
                transition-duration: 0.4s;

                &:hover {
                    color: black;
                    // background-color: transparent;
                    font-weight: bold;
                }
            }

        }
    }
}

// navbar custom style change

.navigation_area .navigation_area_content .navigation_menu_area ul li:hover{
    ul {
        visibility: visible;
        opacity: 1;
        transition-duration: 0.4s;
        top: 40px;
        left: 0px;
    }
}


// coatation carousel

.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
 }
 
 .owl-item {
    width: 100%; /* Adjust the width of each carousel item */
 }

//  owmer intro
.video_card2 {
    width: 100%;
    height: 560px;
    position: relative;
    overflow: hidden;
    &:hover {
        img {
            scale: 1.1;
        }
        .overlay-area {
            opacity: 0;
            visibility: hidden;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition-duration: 0.4s;
    }
    // overlay-area start
    .overlay-area {
        border: $border;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        padding: 40px;
        transition-duration: 0.4s;

        // align-items: center;
        display: grid;
        width: 100%;
        padding: 20px;
        // justify-content: center;
        .overlay-area_content {
            background-color: $button_transfarent_black;
            background-color: #000000b0;
            height: 100%;
            padding: 10px;
            border: 1px solid $brand_color;
            align-items: end;
            display: grid;
            // position: relative;
            align-items: center;
            justify-content: center;
            .video_icon_area {
                // border: $border;
                // position: absolute;
                // top: 10px;
                // left: 10px;
                // border: 2px solid red;
                .video_icon {
                    border: $border;
                    width: 35px;
                    height: 35px;
                    // border: 1px solid $brand_color;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    i {
                        border: $border;
                        color: $brand_color;
                    }
                }
            }
            .image_title {
                border: $border;
                padding-top: 50px;
                .title_text {
                    border: $border;
                    font-family: $font_bangla;
                    font-size: 26px;
                    // font-weight: bold;
                    // color: $brand_color;
                    color: $brand_color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .video_icon{
                        border: $border;
                    width: 65px;
                    height: 65px;
                    border: 1px solid $brand_color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    i {
                        border: $border;
                        color: $brand_color;
                    }
                    }
                }
            }
        }
    }
    // overlay-area end
}